<%- include('../includes/head.ejs') -%>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <form class="product-form" action="/admin/create-user" method="POST">
        <div class="form-control">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-control">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" >
        </div>
        <button class="btn" type="submit">Create</button>
    </form>

</main>

<%- include('../includes/end.ejs') %>